@(visitorForm: Form[models.User])(implicit request: RequestHeader)

@import helper._

@main(Messages("site.music_download")) {

<div class="grid_2">
  <h1>@Messages("site.music_download") &nbsp;&nbsp;&nbsp;</h1>
</div>

<div class="grid_8" style="text-align: justify;">

  @Messages("site.download_instructions")
  <br><br>
      @form(routes.Download.addVisitor) {
        <p>        
        @inputText(visitorForm("name"), 'size -> 30) <br>
        </p>
        <p>        
        @inputText(visitorForm("email"), 'size -> 30) <br>
        <input type="hidden" id="id" name="id" value="0"/>
        <input type="hidden" id="visitCount" name="visitCount" value="0"/>
        
        </p>
    <p>
        <input type="submit" id="download_submit" value="@Messages("site.music_download")" class="awesome red large">
    </p>
    }
</div>
}