@main(Messages("site.singer")) {

<div class="grid_2">
<h1>@Messages("site.singer") &nbsp;&nbsp;&nbsp;</h1>
</div>


<div class="grid_8">
  <img src="http://static.cantora.mus.br/images/mpb1.jpg" />
</div>

<div class="grid_3  ">
<h2>@Messages("site.music")</h2>
<div style="padding-left: 40px">
<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyOTUxMDc*MDg1ODgmcHQ9MTI5NTEwNzQxMjM2NSZwPTI3MDgxJmQ9cHJvX3BsYXllcl9maXJzdF9nZW4mZz*xJm89/NDNkMGRlZmFhYzk1NDgyZWI4ODFjMjUxMzA5ZjQwZmMmb2Y9MA==.gif" /><embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf" height="326" width="300" align="top" bgcolor="#ffffff" loop="false" wmode="transparent" quality="best" allowScriptAccess="always" allowNetworking="all" allowFullScreen="true" seamlesstabbing="false" flashvars="id=artist_750382&posted_by=&skin_id=PWAS1008&font_color=333333&auto_play=true&shuffle=false" /><br /><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/40/artist_750382//t.gif" /><br>

    <a href="@routes.Download.download" class="large awesome red" title="@Messages("site.music_download")">@Messages("site.music_download")</a>
<br><br>
</div>

<h2>Qué que cê qué?</h2>
<p>@Html(Messages("site.cd1"))</p>
<p>@Html(Messages("site.cd2"))</p>
<p>@Html(Messages("site.cd3"))</p>
<p>@Html(Messages("site.cd4"))</p>

<!-- join mailing list-->
<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyOTU4NzU*MzA3MDImcHQ9MTI5NTg3NTQ1NTM2NSZwPTI3MDgxJmQ9ZmFuX2NvbGxlY3Rvcl9maXJzdF9nZW4mZz*x/Jm89NDNkMGRlZmFhYzk1NDgyZWI4ODFjMjUxMzA5ZjQwZmMmb2Y9MA==.gif" /><embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/11/fancollector.swf?page_object_id=artist_750382&backgroundcolor=EEEEEE&font_color=000000&posted_by=artist_750382" height="100" width="434" /><br /><br /><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/11/artist_750382/artist_750382/t.gif" /><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast" /></a>

<!-- Facebook app-->
<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyOTU4NzQ1MDk5MzEmcHQ9MTI5NTg3NTE3NzA3OCZwPTI3MDgxJmQ9YmFubmVyX2ZpcnN*X2dlbiZnPTEmbz**M2Qw/ZGVmYWFjOTU*ODJlYjg4MWMyNTEzMDlmNDBmYyZvZj*w.gif" /><a href="http://www.reverbnation.com/c./a4/2002456/750382/Artist/750382/Artist/link"><img alt="Daniella%20Alcarpe" border="0" src="http://www.reverbnation.com/c./a3/2002456/750382/Artist/750382/Artist/res.gif?1" /></a><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast" /></a>


</div>

<div class="grid_2">
  <center>
  <img src="http://static.cantora.mus.br/images/flor1.png" width="103" height="89" /><br><br>
  <img src="http://static.cantora.mus.br/images/flor5.png" width="150" height="84" /><br><br>
  <img src="http://static.cantora.mus.br/images/casal.png" width="201" height="172" /><br><br>

  <img src="http://static.cantora.mus.br/images/flor2.png" width="116" height="78" /><br><br>
  <img src="http://static.cantora.mus.br/images/nega.png" width="81" height="139" /><br><br>
  <img src="http://static.cantora.mus.br/images/flor3.png" width="76" height="74" /><br><br>

</div>


<div class="grid_3 last">
    <h2><a href="http://www.cantora.mus.br/">Release</a></h2>
    <p>@Html(Messages("site.release1"))</p>
    <p>@Html(Messages("site.release2"))</p>
    <p>@Html(Messages("site.release3"))</p>
<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEzMjQ5OTc3MTkxNTMmcHQ9MTMyNDk5NzczMzUwNSZwPTI3MDgxJmQ9YmFubmVyX2ZpcnN*X2dlbiZnPTEmbz**M2Qw/ZGVmYWFjOTU*ODJlYjg4MWMyNTEzMDlmNDBmYyZvZj*w.gif" /><a href="http://www.reverbnation.com/c./a4/2886353/750382/Artist/750382/Artist/link"><img alt="Daniella%20Alcarpe" border="0" src="http://www.reverbnation.com/c./a3/2886353/750382/Artist/750382/Artist/res.gif" /></a>
  <h2><a href="@routes.Application.videos()">Videos</a></h2>
  <iframe title="YouTube video player" class="youtube-player" type="text/html" width="336" height="273" src="http://www.youtube.com/embed/SPkrU0LgUZY?rel=0" frameborder="0"></iframe>
 <a href="@routes.Application.videos()">mais...</a>
  <h2>Ringtone</h2>
  <center><a href="/assets/ringtone.m4r"><img src="http://static.cantora.mus.br/images/ringtone.jpg" width = "181" heigth = "147" /></a></center>
  <p>@Html(Messages("site.ringtone"))</p><br><br><br><br><br>

</div>

<div class="grid_8">
  <img src="http://static.cantora.mus.br/images/mpb2.jpg" />
</div>
}