@()(implicit request: RequestHeader)

@main(Messages("site.music")) {

<div class="grid_2">
<h1>@Messages("site.music")</h1>
</div>


<div class="grid_8" style="text-align: center;">
    <a href="@routes.Download.download" class="large awesome red" title="@Messages("site.download_cd")">@Messages("site.download_cd")</a>
</div>

<div class="grid_4">
  <h2 class="tk-learning-curve">Qué que cê Qué?</h2>
  <h3>Carlos Careqa</h3>
  Você não entende de sexo
  <br>Você não entende de nada
  <br>Você não entende de anjo
  <br>Você não entende de fada
  <br>Qué que cê qué?
  <br>Qué que cê qué comigo?
  <br>Você agora quer ser
  <br>Meu amigo!
  <br>Você não entende de sonho
  <br>Você não entende de farra
  <br>Você não entende de vinho
  <br>Você não entende de barra
  <br>Qué que cê qué...
  <br>Tua vida tá mal
  <br>Teus amigos sumiram
  <br>Você não tá no jornal
  <br>Oque cê diz é mentira
  <br>Qué que cê qué...
  <br>Você só anda torto
  <br>Você não tem namorada
  <br>Você é um vivo morto
  <br>Você é um pá virada
  <br>Qué que cê qué...
  <br>Vê se chega pra lá
  <br>Com esse olhar de vampiro
  <br>Vê se arranja um lugar
  <br>Eme deixa tranquila
  <br>Qué que cê qué?
  <br>Qué que cê qué comigo?
  <br>Você agora quer ser
  <br>Meu amigo!<br><br>

  <img src="http://static.cantora.mus.br/images/flor4.png" />

  <h2>Mais um conselho</h2>
  <h3>Zé de Riba</h3>

  Cuidado com que você vai fazer
  <br>Pra não sofrer mais tarde
  <br>Cuidado com que você vai fazer
  <br>Pra não sofrer mais tarde
  <br>Pare, pense um pouco, reflita
  <br>Que as coisas não se resolvem assim
  <br>Ninguém vive de briga
  <br>Melhor é acalmar
  <br>A vida é tão bonita
  <br>É só conversar
  <br>Puxa a cadeira, senta
  <br>Deixa o temporal passar
  <br>O amor é um cinema
  <br>Um filme de Almodóvar<br><br>

  <p style="text-align: center;">
    <img src="http://static.cantora.mus.br/images/nega.png" />   
  </p>

  <h2>Somos todos irmãos</h2>
  <h3>Lucy Casas</h3>

  Somos todos irmãos
  <br>De quem?
  <br>Somos todos irmãos
  <br>De quem?
  <br>Todo mundo é igual perante a lei
  <br>Todo mundo é igual na biologia
  <br>Todo mundo é igual hoje em dia
  <br>Todo mundo é igual, isso eu já sei
  <br>Mas que tem diferença, isso tem
  <br>Mas que tem diferença, isso tem
  <br>Vira o jogo Mane! Muda de vida!
  <br>Vende o Carro e anda a pé
  <br>Vira o jogo Mane! Muda de vida!
  <br>Vende o Carro e anda a pé
  <br>Como é que fica, Mané?
  <br>Como é que fica, Maria?
  <br>Como é que fica (o) Mané?
  <br>Como é que fica (a) Maria?
  <br>Como que fica?
  <br>O que é que fica?<br><br>

  <img src="http://static.cantora.mus.br/images/flor5.png" />

  <h2>Outros tempos</h2>
  <h3>Joca Freire e João Marcondes</h3>
  Que noite linda
  <br>Eu ia descendo a ladeira
  <br>A cidade inteira
  <br>Era um mar de alegria
  <br>Gente na praça
  <br>Fazendo folia, cantando
  <br>As estrelas brilhando
  <br>Me lembravam o seu olhar
  <br>Parecia carnavais
  <br>De outros tempos
  <br>Pierrôs e colombinas
  <br>Namoravam ao luar
  <br>Versos recitados
  <br>Com amor
  <br>E sentimento
  <br>Por um cirandeiro a passar
  <br>Tanta felicidade despertou
  <br>Que a vida fez sentido outra vez
  <br>Quando a luz do poste voltou
  <br>A cidade entristeceu mais uma vez<br><br>

  <p style="text-align: center;">
    <img src="http://static.cantora.mus.br/images/flor2.png" />    
  </p>

  <h2>Caradum cara do outro</h2>
  <h3>Zé de Riba</h3>

  Todo bicho tem a cara de Deus
  <br>Deus é sabido também sabe assoviar
  <br>Ocachorro late o macaco assovia
  <br>Eu vi o tatu bola paquerando uma cotia
  <br>Vixe Maria, Deus é todo popular
  <br>O repentista que vem lá de Nova York
  <br>Chegou afirmar que Deus é bom de bola
  <br>E na escola aprendeu a multiplicar
  <br>Na geografia, aprendeu a navegar
  <br>eea
  <br>eeeeea
  <br>Graças a Deus a gente fala toda hora
  <br>Parece até sanduíche e Coca-Cola
  <br>Graças a Deus a gente fala toda hora
  <br>Parece até sanduíche e Coca-Cola
  <br>Deus não é moço também sabe escutar
  <br>E não é moço também sabe escutar
  <br>eea
  <br>eeeeea
  <br>Também falaram que ele é masculino
  <br>É feminino no jeito de pensar
  <br>Eterno, barroco, moderno
  <br>Toca baião e heavy metal sem parar
  <br>Também falaram que ele é pai solteiro
  <br>Negro, índio, metalúrgico, brasileiro
  <br>Tem três filhos, mora na periferia
  <br>E vende cachorro quente lá na freguesia
  <br>eea
  <br>eeeeea
  <br>Todo bicho tem a cara de Deus
  <br>Deus é sabido também sabe assoviar
  <br>Eterno, barroco, moderno
  <br>Toca baião e heavy metal sem parar<br><br>
</div>

<div class="grid_4">
  <h2>Vestidim</h2>
  <h3>Zé de Riba</h3>

  A madrinha fez um vestido de chita pra mim
  <br>A madrinha fez um vestido de chita pra mim
  <br>Eu fui à missa de domingo
  <br>Vestida no meu vestidim
  <br>Quando dei fé, um rapaz piscando assim
  <br>Quando dei fé, um rapaz piscando assim
  <br>Era o meu vestidim
  <br>Era o meu vestidim
  <br>O meu vestidim era todo floreado
  <br>Parecia até um quadro de Van Gogh para mim
  <br>Era tão lindim, tinha um babado de lado
  <br>Atrás era decotado, foi presente do meu padrim
  <br>Eu tinha quatorze anos conheci esse rapaz
  <br>Eu tinha quatorze anos conheci esse rapaz
  <br>Que se apaixonou por mim
  <br>E por meu vestidim
  <br>E namoramos muito tempo
  <br>Que chegamos ao casamento
  <br>E na lua de mel
  <br>Fui vestida no meu vestidim
  <br>Quando era noite na hora de dormir
  <br>Era ele quem tirava o meu lindo vestidim<br><br>

  <img src="http://static.cantora.mus.br/images/menino.png" />

  <h2>Meu querido Santo Antônio</h2>
  <h3>Carlos Careqa</h3>
  Meu querido Santo Antonio
  <br>Me arranja um amor
  <br>Meu bonzinho São Toninho
  <br>Me dá uma colher de chá
  <br>Meu coração pequenininho
  <br>Já não agüenta mais sofrer
  <br>Meu querido Santo Antonio
  <br>Vem aqui me socorrer
  <br>Abre bem os meus olhos
  <br>Seca a minha ambição
  <br>Mostra-me o que é bonito
  <br>Sem me dar perturbação
  <br>Deixa que eu sinta o vento
  <br>Soprar em minha direção
  <br>Me concede essa graça
  <br>Me dá a tua proteção
  <br>Tô saindo de fininho
  <br>Que é pra não lhe incomodar
  <br>Mas não esquece seu Toninho
  <br>Uma maneira de ajudar
  <br>Sei que fui um sonhador
  <br>Sei que fui um tafetá
  <br>Hoje quero bem mansinho
  <br>Alguém pra me acompanhar<br><br>

  <img src="http://static.cantora.mus.br/images/flor2.png" />

  <h2>Não tenho culpa se você não sabe sambar</h2>
  <h3>Zé de Riba</h3>

  Não tenho culpa se você não sabe sambar
  <br>Se pelo menos você aprendesse o miudinho
  <br>Que é um samba fino que fica no calcanhar
  <br>Você me deixa assim
  <br>Numa situação
  <br>Não dança jazz nem baião
  <br>Ainda põe culpa em mim
  <br>Aprenda o miudinho acabe com a solidão
  <br>O samba é um santo remédio pro coração<br><br>

  <center><img src="http://static.cantora.mus.br/images/flor3.png" />
  </center>
  <h2>Cantiga Antiga</h2>
  <h3>Dimitri Bentok</h3>
  Não venha me dizer que se cansou
  <br>Da vida e das canções que eu te dou
  <br>Tudo porque você cresceu
  <br>Enquanto eu cantava assim
  <br>Não venha cá tutu marambá
  <br>Não venha cá
  <br>E a cantiga que embalava o seu coração
  <br>Agora parece dizer
  <br>Palavras antigas sem graça pra nós
  <br>Encantos, espantos, palhaços sem voz
  <br>Mil sonhos perdidos num mundo real
  <br>De que valeriam no seu carnaval?
  <br>E se a vida então te convidar
  <br>A mais uma ilusão abandonar
  <br>E aquela rua tão sem cor
  <br>Hoje ilumina a minha dor
  <br>E eu nem sabia ladrilhar
  <br>Eu nem sabia
  <br>Serão estrelas decadentes a pousar no chão
  <br>Não são vaga-lumes neon
  <br>Nem chuva de prata
  <br>Nem poças de mel
  <br>São cacos de vidro que caem do céu
  <br>Mil dias seguintes
  <br>Passando por mês
  <br>E o tempo acordando e brincando com você<br><br>

  <img src="http://static.cantora.mus.br/images/flor1.png" />

  <h2>Canção do Colo</h2>
  <h3>Lucy Casas</h3>

  Não canto o sabiá nem o jasmim
  <br>Só penso no tempo infindo do quando eu vim
  <br>Do meu Brasil que já não é só luz e coqueiro
  <br>Nem trigueiro nem de mim
  <br>Mas mesmo assim, é tão grande a saudade
  <br>Que a alegria pede licença, vai entardecer
  <br>Evolto pra essas ruas minhas gentes
  <br>De amores diferentes, tão sinceros, tão presentes
  <br>Evivo toda a graça, a simpatia,
  <br>Ocondão, a maravilha desse colo que é o Brasil
  <br>Brasil meu amor, minha saudade
  <br>Brasil, só queria te abraçar<br><br>


</div>

<div class="grid_3">



</div>
}