@()(implicit request: RequestHeader)

@main(Messages("site.news")) {

<div class="grid_2">
	<h1>@Messages("site.news")</h1>
</div>

<div class="grid_8">
	<center>
		<iframe
			src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fdaniella.alcarpe&amp;width=800&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=700"
			scrolling="no" frameborder="0"
			style="border: none; overflow: hidden; width: 800px; height: 700px; background-color: white"
			allowTransparency="false"></iframe>
	</center>
</div>
}
